<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="">
  <meta name="author" content="">
  <title>BeyondBOINC: <%= naive_translate("head title", @conn.assigns[:lang])%></title>
  <link rel="stylesheet" href="<%= static_path(@conn, "/css/app.css") %>">
  <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.9/semantic.min.css"></link>
  <script>
   (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
   (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
   m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
   })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

   ga('create', 'UA-97813822-1', 'auto');
   ga('send', 'pageview');
  </script>
</head>

<body>
  <header>
    <div class="ui large fixed inverted menu">
      <div class="ui container">
        <a href="/" class="header item">
          <img class="logo" src="/images/<%=naive_image_chooser("logo", @conn.assigns[:lang])%>">
        </a>
        <a href="/" class="item"><%=naive_translate("home", @conn.assigns[:lang])%></a>
        <!-- FIXME extract to LayoutView -->
        <a href="/authors/<%=@conn.assigns[:about_blog_author]%>/<%=@conn.assigns[:about_blog_permlink]%>" class="item"><%=naive_translate("about", @conn.assigns[:lang])%></a>
        <a href="<%=if @conn.assigns[:lang] == "ru", do: "https://golos.io", else: "https://steemit.com"%>" class="item"><%=naive_translate("about_steemlike_chain", @conn.assigns[:lang])%></a>
        
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Exchanges</a>
        <ul class="dropdown-menu dropdown-menu-inverse" role="menu" style="text-align:center;">
            <li role="presentation" class="dropdown-header" style="color:white;">Exchanges</li>
            <li>
                <a href="https://holytransaction.com/" style="color:#9A9899;"><i class="fa fa-credit-card" style="color:#707C34;"></i> HolyTransactions</a>
                <a href="https://poloniex.com/exchange/btc_grc" style="color:#9A9899;"><i class="fa fa-credit-card" style="color:#707C34;"></i> Poloniex</a>
                <a href="https://c-cex.com/?p=grc-btc" style="color:#9A9899;"><i class="fa fa-credit-card" style="color:#707C34;"></i> C-Cex</a>
                <a href="https://bittrex.com/Market/Index?MarketName=BTC-GRC" style="color:#9A9899;"><i class="fa fa-credit-card" style="color:#707C34;"></i> Bittrex</a>
                <a href="https://bitsquare.io/" style="color:#9A9899;"><i class="fa fa-credit-card" style="color:#707C34;"></i> BitSquare</a>
                <a href="https://bitshares.openledger.info/#/market/OPEN.GRC_OPEN.BTC" style="color:#9A9899;"><i class="fa fa-credit-card" style="color:#707C34;"></i> OpenLedger</a>
                <a href="https://bit.btsabc.org/#/market/OPEN.GRC_OPEN.BTC" style="color:#9A9899;"><i class="fa fa-credit-card" style="color:#707C34;"></i> BTSABC</a>
                <a href="https://btsbots.com/a/OPEN.GRC" style="color:#9A9899;"><i class="fa fa-credit-card" style="color:#707C34;"></i> BTSBOTS</a>
                <a href="https://bitshares.org/" style="color:#9A9899;"><i class="fa fa-credit-card" style="color:#707C34;"></i> Bitshares-Light</a>
            </li>
            <li role="presentation" class="dropdown-header" style="color:white;">3rd party wallets</li>
            <li>
                <a href="https://www.coinvault.io/" style="color:#9A9899;"><i class="fa fa-line-chart" style="color:#707C34;"></i> Coinvault</a>
            </li>
            <li>
                <a href="https://coinomi.com/" style="color:#9A9899;"><i class="fa fa-line-chart" style="color:#707C34;"></i> Coinomi</a>
            </li>
            <li role="presentation" class="dropdown-header" style="color:white;">Where to spend</li>
            <li>
                <a href="https://www.crypto-games.net/" style="color:#9A9899;"><i class="fa fa-gamepad" style="color:#707C34;"></i> Crypto-Games</a>
                <a href="http://cointopay.com/M_MarketOverview.jsp" style="color:#9A9899;"><i class="fa fa-shopping-cart" style="color:#707C34;"></i> Cointopay Marketplace</a>
            </li>
            <li role="presentation" class="dropdown-header" style="color:white;">Mining Services</li>
            <li>
                <a href="https://www.eobot.com/" style="color:#9A9899;"><i class="fa fa-cogs" style="color:#707C34;"></i> Eobot</a>
            </li>
        </ul>
          
       </div>
    </div>
  </header>
  <!-- FIXME: needs a sticky footer instread of 100vh -->
  <div class="ui container" style="min-height:100vh;">
    <main role="main">
      <div class="alert">
        <%= if get_flash(@conn, :info) do %>
        <div class="ui secondary yellow inverted segment"><%= get_flash(@conn, :info) %></div>
        <% end %>
        <%= if get_flash(@conn, :error) do %>
        <div class="ui secondary red inverted segment"><%= get_flash(@conn, :error) %></div>
        <% end %>
      </div>
      <%= render @view_module, @view_template, assigns %>
    </main>
  </div>
  <footer>
    <div class="ui large inverted menu">
      <div class="ui container">
      </div>
    </div>
  </footer>
  <script src="<%= static_path(@conn, "/js/app.js") %>"></script>
</body>
</html>
