<!DOCTYPE html>
<html lang="en">
<head>
	<meta content="text/html; charset=utf-8" http-equiv="Content-Type">
	<meta content="width=device-width, initial-scale=1" name="viewport">
	<meta content="BeyondBOINC displays the recently created content from a curated list of Steemit authors on the topics of cryptocurrency, distributed computing and technology." name="description">
	<meta content="Gridcoin, Bitshares, Steemit, Cryptocurrency, Blog, Aggregator, Glasnost, BOINC, BeyondBitcoin, BeyondBOINC, Distributed Computing, Cloud computing, Science, Peerplays, Blockchain, Decentralization, money, science, technology, crypto" name="keywords">
	<meta content="Customminer aka @cm-steem" name="author">
	<meta content="index, follow" name="robots">
	<meta content="1 days" name="revisit-after">
	
	<link rel="apple-touch-icon" sizes="57x57" href="/images/apple-icon-57x57.png">
	<link rel="apple-touch-icon" sizes="60x60" href="/images/apple-icon-60x60.png">
	<link rel="apple-touch-icon" sizes="72x72" href="/images/apple-icon-72x72.png">
	<link rel="apple-touch-icon" sizes="76x76" href="/images/apple-icon-76x76.png">
	<link rel="apple-touch-icon" sizes="114x114" href="/images/apple-icon-114x114.png">
	<link rel="apple-touch-icon" sizes="120x120" href="/images/apple-icon-120x120.png">
	<link rel="apple-touch-icon" sizes="144x144" href="/images/apple-icon-144x144.png">
	<link rel="apple-touch-icon" sizes="152x152" href="/images/apple-icon-152x152.png">
	<link rel="apple-touch-icon" sizes="180x180" href="/images/apple-icon-180x180.png">
	<link rel="icon" type="image/png" sizes="192x192"  href="/images/android-icon-192x192.png">
	<link rel="icon" type="image/png" sizes="32x32" href="/images/favicon-32x32.png">
	<link rel="icon" type="image/png" sizes="96x96" href="/images/favicon-96x96.png">
	<link rel="icon" type="image/png" sizes="16x16" href="/images/favicon-16x16.png">
	<link rel="manifest" href="/images/manifest.json">
	<meta name="msapplication-TileColor" content="#ffffff">
	<meta name="msapplication-TileImage" content="/images/ms-icon-144x144.png">
	<meta name="theme-color" content="#ffffff">

	<meta http-equiv="Content-Security-Policy" content="upgrade-insecure-requests">

	<link href="https://beyondboinc.net" rel="canonical">
	<title>BeyondBOINC: <%= naive_translate("head title", @conn.assigns[:lang])%></title>
 	<link rel="stylesheet" href="<%= static_path(@conn, "/css/app.css") %>">
 	<link href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.10/semantic.css" rel="stylesheet">
	<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
	<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.10/semantic.js"></script>
	<!-- Google Search -->
	<script>
	$(document).ready(function(){
	    $('#Button').click(function(e) {  
	        var inputvalue = $("#Search").val();
	        window.location.replace("https://www.google.co.uk/#q=site:https://beyondboinc.net " + inputvalue);
	    });
	});
	</script>
	<!--/Google Search-->
	<!--Google Analytics-->
	<script>
	 (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
	 (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
	 m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
	 })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

	 ga('create', 'UA-97813822-1', 'auto');
	 ga('send', 'pageview');
	</script>
	<!--/Google Analytics-->
	<!--Google Translator-->
	<script type="text/javascript">
	function googleTranslateElementInit() {
	  new google.translate.TranslateElement({pageLanguage: 'en', layout: google.translate.TranslateElement.InlineLayout.SIMPLE, multilanguagePage: true, gaTrack: true, gaId: 'UA-97813822-1'}, 'google_translate_element');
	}
	</script>
	<script type="text/javascript" src="//translate.google.com/translate_a/element.js?cb=googleTranslateElementInit"></script>
	<!--/Google Translator-->
</head>
<body>
	<header>
		<div class="ui inverted borderless compact fixed main menu">
			<div class="ui text container">
				<a href="/" class="header item">
          			<img class="logo" src="/images/<%=naive_image_chooser("logo", @conn.assigns[:lang])%>">
          			BeyondBOINC
        		</a>
	        	<!-- FIXME extract to LayoutView -->
	        	<a href="/authors/<%=@conn.assigns[:about_blog_author]%>/<%=@conn.assigns[:about_blog_permlink]%>" class="item"><%=naive_translate("about", @conn.assigns[:lang])%></a>
	        	<!--<a href="<%=if @conn.assigns[:lang] == "ru", do: "https://golos.io", else: "https://steemit.com"%>" class="item"><%=naive_translate("about_steemlike_chain", @conn.assigns[:lang])%></a>-->
	        
	        	<div class="ui simple computer only dropdown item">
					Trade GRC <i class="dropdown icon"></i>
					<div class="menu">
						<div class="item">
							<i class="dropdown icon"></i> <span class="text">Decentralized Exchanges</span>
							<div class="left menu">
								<div class="item">
									<a href="https://bitsquare.io/" style="color:#9A9899;">BitSquare</a>
								</div>
								<div class="item">
									<a href="https://bitshares.openledger.info/#/market/OPEN.GRC_OPEN.BTC" style="color:#9A9899;">OpenLedger</a>
								</div>
								<div class="item">
									<a href="https://bit.btsabc.org/#/market/OPEN.GRC_OPEN.BTC" style="color:#9A9899;">BTSABC</a>
								</div>
								<div class="item">
									<a href="https://btsbots.com/a/OPEN.GRC" style="color:#9A9899;">BTSBOTS</a>
								</div>
								<div class="item">
									<a href="https://bitshares.org/" style="color:#9A9899;">Bitshares-Light</a>
								</div>
							</div>
						</div>
						<div class="item">
							<i class="dropdown icon"></i> <span class="text">Centralized Exchanges</span>
							<div class="left menu">
								<div class="item">
									<a href="https://holytransaction.com/" style="color:#9A9899;">HolyTransactions</a>
								</div>
								<div class="item">
									<a href="https://poloniex.com/exchange/btc_grc" style="color:#9A9899;">Poloniex</a>
								</div>
								<div class="item">
									<a href="https://c-cex.com/?p=grc-btc" style="color:#9A9899;">C-Cex</a>
								</div>
								<div class="item">
									<a href="https://bittrex.com/Market/Index?MarketName=BTC-GRC" style="color:#9A9899;">Bittrex</a>
								</div>
							</div>
						</div>
						<div class="item">
							<i class="dropdown icon"></i> <span class="text">Explorers</span>
							<div class="left menu">
								<div class="item">
									<a href="https://gridcoinstats.eu" style="color:#9A9899;">GridcoinStats</a>
								</div>
								<div class="item">
									<a href="https://gridresearchcorp.com" style="color:#9A9899;">GridResearchCorp</a>
								</div>
								<div class="item">
									<a href="http://explorer.gridcoin.asia/" style="color:#9A9899;">Explorer.Gridcoin.Asia</a>
								</div>
								<div class="item">
									<a href="https://gridcoin.holytransaction.com" style="color:#9A9899;">HolyTransactions</a>
								</div>
							</div>
						</div>
						<div class="item">
							<i class="dropdown icon"></i> <span class="text">Exchange Stats</span>
							<div class="left menu">
								<div class="item">
									<a href="http://coinmarketcap.com/currencies/gridcoin/" style="color:#9A9899;">CoinMarketCap</a>
								</div>
								<div class="item">
									<a href="https://www.coingecko.com/en/coins/gridcoin-research" style="color:#9A9899;">CoinGecko</a>
								</div>
								<div class="item">
									<a href="http://www.coincap.io/GRC" style="color:#9A9899;">CoinCap</a>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="ui simple computer only dropdown item">
					BOINC links<i class="dropdown icon"></i>
					<div class="menu">
						<div class="item">
							<i class="dropdown icon"></i> <span class="text">Official</span>
							<div class="left menu">
								<div class="item">
									<a href="https://boinc.berkeley.edu/" style="color:#9A9899;">BOINC Website</a>
								</div>
								<div class="item">
									<a href="https://boinc.berkeley.edu/dev/" style="color:#9A9899;">BOINC Forums</a>
								</div>
								<div class="item">
									<a href="https://github.com/boinc/boinc/" style="color:#9A9899;">GitHub</a>
								</div>
							</div>
						</div>
						<div class="item">
							<i class="dropdown icon"></i> <span class="text">Services</span>
							<div class="right menu">
								<div class="item">
									<a href="http://formula-boinc.org/" style="color:#9A9899;">FormulaBOINC</a>
								</div>
								<div class="item">
									<a href="http://uotd.org/" style="color:#9A9899;">User of the day</a>
								</div>
								<div class="item">
									<a href="http://desktopgridfederation.org/" style="color:#9A9899;">Desktop Grid Federation</a>
								</div>
								<div class="item">
									<a href="https://boincstats.com" style="color:#9A9899;">Boincstats</a>
								</div>
								<div class="item">
									<a href="https://statsbzh.boinc-af.org/" style="color:#9A9899;">Statsbzh</a>
								</div>
								<div class="item">
									<a href="http://www.dc-vault.com/" style="color:#9A9899;">DC-Vault</a>
								</div>
								<div class="item">
									<a href="http://stats.free-dc.org/stats.php?page=index" style="color:#9A9899;">Free-DC</a>
								</div>
							</div>
						</div>
						<div class="item">
							<i class="dropdown icon"></i> <span class="text">Team Forums</span>
							<div class="right menu">
								<div class="item">
									<a href="http://www.rechenkraft.net/" style="color:#9A9899;">Rechenkraft</a>
								</div>
								<div class="item">
									<a href="http://www.seti-germany.de/" style="color:#9A9899;">SETI Germany</a>
								</div>
								<div class="item">
									<a href="http://www.setiusa.us/" style="color:#9A9899;">SETI USA</a>
								</div>
								<div class="item">
									<a href="http://www.free-dc.org/forum.php" style="color:#9A9899;">Free-DC</a>
								</div>
								<div class="item">
									<a href="http://forum.czechnationalteam.cz/" style="color:#9A9899;">Czech national team</a>
								</div>
								<div class="item">
									<a href="https://forum.boinc-af.org/" style="color:#9A9899;">L'Alliance Francophone</a>
								</div>
								<div class="item">
									<a href="http://www.overclock.net/f/365/overclock-net-boinc-team" style="color:#9A9899;">Overclock.Net</a>
								</div>
								<div class="item">
									<a href="https://www.planet3dnow.de/vbulletin/forum.php" style="color:#9A9899;">Planet3DNow</a>
								</div>
							</div>
						</div>
						<!-- TODO:
						<div class="item">
							<i class="dropdown icon"></i> <span class="text">Projects</span>
							<div class="right menu">
								<div class="item">
									<a href="" style="color:#9A9899;"></a>
								</div>
								<div class="item">
									<a href="" style="color:#9A9899;"></a>
								</div>
								<div class="item">
									<a href="" style="color:#9A9899;"></a>
								</div>
								<div class="item">
									<a href="" style="color:#9A9899;"></a>
								</div>
								<div class="item">
									<a href="" style="color:#9A9899;"></a>
								</div>
								<div class="item">
									<a href="" style="color:#9A9899;"></a>
								</div>
								<div class="item">
									<a href="" style="color:#9A9899;"></a>
								</div>
								<div class="item">
									<a href="" style="color:#9A9899;"></a>
								</div>
								<div class="item">
									<a href="" style="color:#9A9899;"></a>
								</div>
								<div class="item">
									<a href="" style="color:#9A9899;"></a>
								</div>
								<div class="item">
									<a href="" style="color:#9A9899;"></a>
								</div>
								<div class="item">
									<a href="" style="color:#9A9899;"></a>
								</div>
								<div class="item">
									<a href="" style="color:#9A9899;"></a>
								</div>
								<div class="item">
									<a href="" style="color:#9A9899;"></a>
								</div>
								<div class="item">
									<a href="" style="color:#9A9899;"></a>
								</div>
								<div class="item">
									<a href="" style="color:#9A9899;"></a>
								</div>
								<div class="item">
									<a href="" style="color:#9A9899;"></a>
								</div>
								<div class="item">
									<a href="" style="color:#9A9899;"></a>
								</div>
								<div class="item">
									<a href="" style="color:#9A9899;"></a>
								</div>
								<div class="item">
									<a href="" style="color:#9A9899;"></a>
								</div>
								<div class="item">
									<a href="" style="color:#9A9899;"></a>
								</div>
								<div class="item">
									<a href="" style="color:#9A9899;"></a>
								</div>
								<div class="item">
									<a href="" style="color:#9A9899;"></a>
								</div>
								<div class="item">
									<a href="" style="color:#9A9899;"></a>
								</div>
								<div class="item">
									<a href="" style="color:#9A9899;"></a>
								</div>
								<div class="item">
									<a href="" style="color:#9A9899;"></a>
								</div>
								<div class="item">
									<a href="" style="color:#9A9899;"></a>
								</div>
								<div class="item">
									<a href="" style="color:#9A9899;"></a>
								</div>
								<div class="item">
									<a href="" style="color:#9A9899;"></a>
								</div>
								<div class="item">
									<a href="" style="color:#9A9899;"></a>
								</div>
								<div class="item">
									<a href="" style="color:#9A9899;"></a>
								</div>
								<div class="item">
									<a href="" style="color:#9A9899;"></a>
								</div>
								<div class="item">
									<a href="" style="color:#9A9899;"></a>
								</div>
								<div class="item">
									<a href="" style="color:#9A9899;"></a>
								</div>
							</div>
						</div>-->

					</div>
				</div>

				<div class="ui simple computer only dropdown item">
					Community links<i class="dropdown icon"></i>
					<div class="menu">
						<div class="item">
							<i class="dropdown icon"></i> <span class="text">Gridcoin</span>
							<div class="left menu">
								<div class="item">
									<a href="https://www.gridcoin.us" style="color:#9A9899;">Official Website</a>
								</div>
								<div class="item">
									<a href="https://cryptocointalk.com/forum/464-gridcoin-grc/" style="color:#9A9899;">Forums</a>
								</div>
								<div class="item">
									<a href="https://github.com/gridcoin/Gridcoin-Research" style="color:#9A9899;">GitHub</a>
								</div>
								<div class="item">
									<a href="https://twitter.com/GridcoinNetwork" style="color:#9A9899;">Twitter</a>
								</div>
								<div class="item">
									<a href="https://steemit.com/active/gridcoin" style="color:#9A9899;">Steemit</a>
								</div>
								<div class="item">
									<a href="https://t.me/gridcoin" style="color:#9A9899;">Telegram</a>
								</div>
								<div class="item">
									<a href="https://www.reddit.com/r/gridcoin" style="color:#9A9899;">Reddit</a>
								</div>
								<div class="item">
									<a href="https://kiwiirc.com/client/irc.freenode.net:6667/#gridcoin" style="color:#9A9899;">IRC</a>
								</div>
								<div class="item">
									<a href="http://wiki.gridcoin.us/Main_Page" style="color:#9A9899;">GRC MediaWiki</a>
								</div>
								<div class="item">
									<a href="https://en.wikipedia.org/wiki/Gridcoin" style="color:#9A9899;">GRC @ Wikipedia</a>
								</div>
							</div>
						</div>
						<div class="item">
							<i class="dropdown icon"></i> <span class="text">Bitshares</span>
							<div class="right menu">
								<div class="item">
									<a href="https://bitshares.org/" style="color:#9A9899;">Official website</a>
								</div>
								<div class="item">
									<a href="https://bitsharestalk.org/" style="color:#9A9899;">Forums</a>
								</div>
								<div class="item">
									<a href="https://t.me/BitSharesDEX" style="color:#9A9899;">Telegram</a>
								</div>
								<div class="item">
									<a href="https://cryptofresh.com/" style="color:#9A9899;">Explorer</a>
								</div>
							</div>
						</div>
						<div class="item">
							<i class="dropdown icon"></i> <span class="text">Peerplays</span>
							<div class="right menu">
								<div class="item">
									<a href="https://bitshares.org/" style="color:#9A9899;">Official website</a>
								</div>
								<div class="item">
									<a href="https://t.me/Peerplays" style="color:#9A9899;">Telegram</a>
								</div>
								<div class="item">
									<a href="https://peerplays.chat/" style="color:#9A9899;">Peerplays.chat</a>
								</div>
								<div class="item">
									<a href="https://github.com/BunkerChainLabsInc" style="color:#9A9899;">GitHub</a>
								</div>
							</div>
						</div>
						<div class="item">
							<i class="dropdown icon"></i> <span class="text">Steemit</span>
							<div class="right menu">
								<div class="item">
									<a href="https://steemit.com" style="color:#9A9899;">Official website</a>
								</div>
								<div class="item">
									<a href="https://t.me/steem_en" style="color:#9A9899;">Telegram</a>
								</div>
								<div class="item">
									<a href="https://steemit.chat/" style="color:#9A9899;">Steemit.Chat</a>
								</div>
								<div class="item">
									<a href="https://github.com/steemit/steem" style="color:#9A9899;">GitHub</a>
								</div>
								<div class="item">
									<a href="http://steemtools.com/" style="color:#9A9899;">Applications</a>
								</div>
								<div class="item">
									<a href="https://steemd.com/" style="color:#9A9899;">Explorer</a>
								</div>
							</div>
						</div>
					</div>
				</div>

				<div class="ui mini action input">
				  <input placeholder="Search..." type="text" id="Search">
				  <button class="ui icon button" id="Button">
				    <i class="search icon"></i>
				  </button>
				</div>
			</div>
		</div>
	</header><!-- FIXME: needs a sticky footer instread of 100vh -->
	<div class="ui container" style="min-height:100vh;">
		<main role="main">
			<div class="alert">
				<%= if get_flash(@conn, :info) do %>
				<div class="ui secondary yellow inverted segment">
					<%= get_flash(@conn, :info) %>
				</div><%end %><%= if get_flash(@conn, :error) do %>
				<div class="ui secondary red inverted segment">
					<%= get_flash(@conn, :error) %>
				</div><%end %>
			</div><%= render @view_module, @view_template, assigns %>
		</main>
	</div>

	<div class="ui inverted vertical footer segment">
	    <div class="ui center aligned container">
	      <div class="ui stackable inverted divided grid">
	        <div class="three wide column">
	          <h4 class="ui inverted header">Promoted Tags</h4>
	          <div class="ui inverted link list">
	            <a href="https://beyondboinc.net/tags/gridcoin" class="item">Gridcoin</a>
	            <a href="https://beyondboinc.net/tags/boinc" class="item">BOINC</a>
	            <a href="https://beyondboinc.net/tags/beyondbitcoin" class="item">BeyondBitcoin</a>
	            <a href="https://beyondboinc.net/tags/cryptocurrency" class="item">Cryptocurrency</a>
	          </div>
	        </div>
	        <div class="three wide column">
	          <h4 class="ui inverted header">Promoted Authors</h4>
	          <div class="ui inverted link list">
	            <a href="https://beyondboinc.net/authors/cm-steem/" class="item">CM-Steem</a>
	            <a href="https://beyondboinc.net/authors/officialfuzzy/" class="item">OfficialFuzzy</a>
	            <a href="https://beyondboinc.net/authors/erkan/" class="item">Erkan</a>
	            <a href="https://beyondboinc.net/authors/chris4210/" class="item">Chris4210</a>
	          </div>
	        </div>
	        <div class="three wide column">
	          <h4 class="ui inverted header">Affiliate links</h4>
	          <div class="ui inverted link list">
	            <a href="http://www.vultr.com/?ref=6948861" class="item">Vultr</a>
	            <a href="https://affiliate.namecheap.com/?affId=115065" class="item">Namecheap</a>
	            <a href="http://nordvpn.com/?ref=135613bd" class="item">NordVPN</a>
	            <a href="https://purse.io/?_r=ewuZjT" class="item">Purse.IO</a>
	          </div>
	        </div>
	        <div class="seven wide column">
	          <h4 class="ui inverted header">About</h4>
	          <p>BeyondBOINC is a <a href="https://steemit.com/">Steemit</a> backed blog, powered by the <a href="https://github.com/cyberpunk-ventures/glasnost/"> Glasnost </a> library & is actively maintained by <a href="https://steemit.com/@cm-steem/">@CM-STEEM</a>.</p>
	          <p>Want to be a featured author? Join the <a href="https://t.me/BeyondBOINC">BeyondBOINC Telegram Chat</a> to apply.</p>
	          <p>GRC Address: SCyjzkycFPZ1pgR2WP4xvk9o5AD5kArWfX</p>
	        </div>
	      </div>
	      <div class="ui inverted section divider"></div>
	      <img class="ui centered mini image" src="/images/<%=naive_image_chooser("logo", @conn.assigns[:lang])%>">
	      <div class="ui horizontal inverted small divided link list">
	        <a class="item" href="https://beyondboinc.net">Home</a>
	        <a class="item" href="https://beyondboinc.net/sitemap.xml">Site Map</a>
	        <a class="item" href="https://t.me/BeyondBOINC">BeyondBOINC Telegram Chat</a>
	        <div id="google_translate_element"></div>
	      </div>
	    </div>
	</div>
  <script src="<%= static_path(@conn, "/js/app.js") %>"></script>
  <!--Social links-->
  <script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-58fcf502b846a36a"></script>
</body>
</html>